#game {
	display: block;
	width: 800px;
	height: 600px;
	background-color: black;
	color:white;
}

#playerCardsInPlay {
	border: 4px solid Blue;
	background-color: Lightgray;
	padding:10px;
	position: relative;
	overflow: auto;
}

#playableCards {
	border: 4px solid LightSlateGray;
	background-color: Lightgray;
	padding:10px;
	position: relative;
	overflow: auto;
}

#playableCards ul {
	list-style: none;
}

.card {
	display:block;
	width: 100px;
	height: 125px;
	border: 2px solid LightSteelBlue;
	background-color: Silver;
	padding: 5px;
	float: left;
	margin-right: 10px;
}

.playable {
	color:red;
}