	<div id="playableCards">	
		<ul>
			<li ng-repeat="card in game.player.deck.slice(0,3) track by $index">
				<div id='{{$index}}' class='card playable {{card.image}}' ng-click="game.battle.getPlayedCard($index)">
					<h3>{{card.name}}</h3>
				</div>
			</li>
		</ul>
	</div>
	<div id="table">
		<div id="playerCardsinPlayPlayer1">
			<ul>
				<li ng-repeat="card in game.battle.inPlayPlayer1 track by $index">
					<div id='{{$index}}' class='card playable {{card.image}}'>
						<h3>{{card.name}}</h3>
					</div>				
				</li>
			</ul>
		</div>
		<div id="playerCardsinPlayPlayer2">
			<ul>
				<li ng-repeat="card in game.battle.inPlayPlayer2 track by $index">
					<div id='{{$index}}' class='card playable {{card.image}}'>
						<h3>{{card.name}}</h3>
					</div>				
				</li>
			</ul>
		</div>
	</div>